---
---

$primaryColor:       #2F343B;
$accentColor:        #877551;
$darkPrimaryColor:   #212423;
$lightPrimaryColor:  #B8CCC7;
$black:              #090A0A;
$white:              #F7FFFC;
$shadowColor:        #727272;

@import "main";
