---
---

$primaryColor:       #735134;
$accentColor:        #30A8BF;
$darkPrimaryColor:   #332417;
$lightPrimaryColor:  #D9CFB9;
$black:              #19120C;
$white:              #FAEFE3;
$shadowColor:        #727272;

@import "main";
