---
---

$primaryColor:       #355472;
$accentColor:        #A5613D;
$darkPrimaryColor:   #192836;
$lightPrimaryColor:  #70C2F0;
$black:              #0B1317;
$white:              #E2F4FC;
$shadowColor:        #727272;

@import "main";
