---
---

$primaryColor:       #474120;
$accentColor:        #3B3F54;
$darkPrimaryColor:   #2B2D2E;
$lightPrimaryColor:  #E5DBBD;
$black:              #1F1C0B;
$white:              #FFF8FF;
$shadowColor:        #727272;

@import "main";
