---
---

$primaryColor:       #40582D;
$accentColor:        #A4624C;
$darkPrimaryColor:   #2D3E20;
$lightPrimaryColor:  #A6E475;
$black:              #181C14;
$white:              #F4FFF5;
$shadowColor:        #727272;

@import "main";
