---
---

$primaryColor:       #B26E30;
$accentColor:        #3099B2;
$darkPrimaryColor:   #72471F;
$lightPrimaryColor:  #FFAD5E;
$black:              #0E0F0E;
$white:              #FFFCF7;
$shadowColor:        #727272;

@import "main";
