---
---

$primaryColor:       #331919;
$accentColor:        #E8D1A4;
$darkPrimaryColor:   #1C0E0E;
$lightPrimaryColor:  #FC9A86;
$black:              #140C0B;
$white:              #FFFFF9;
$shadowColor:        #727272;

@import "main";
