.cel-row {float: left;width: 99%;margin: 0 0 1.9rem 0;padding: 0;}

.cel-divider {float: left;width: 100%;height: .125em;}

@media only screen and (min-width: 35em) {/* 560 pixel width */
    .cel-row {float: left;width: 99%;margin: 0 0 1.9rem 0;padding: 0;}

    .cel-divider {float: left;width: 100%;height: .125em;}
}/* end media Q*/