/* these controls the fade in animation of the toc menu content.   */

.TOCs{
  margin: 0 auto -50px 0;
  border-radius: .1875em;
  padding-top: 0;
  list-style-type:decimal;
  color: $white;
  transition-property: width,right;
  transition-timing-function:ease-in-out;
  transition-duration: .1s;
}

#tocClosedState {
  /* default TOC style - button state - */
  position: absolute;
  z-index: 2;
  width: 1%;
  height: 2.8125em;
  background-color: transparent;
  overflow:hidden;
  top: .25rem;
  right:3em;
  outline: none;
}

#tocOpenState{
  z-index: 200;
  width: 90%;
  padding-top:4rem;
  padding-bottom: .75em;
  background-color: $darkPrimaryColor;
  @include material-shadow(.15em, .15em, .15em);
  position:absolute;
  top: 0;
  right:0;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;

}

#tocClosedState #theTocTarget {
  /* this hooks into the closed menu TOC button */
  width: 2.6em;
  height: 2.6em;
  background-image: url('../../theme/img/TOC-default.png');
  background-repeat: no-repeat;
  background-position:-1px 0, top;
  background-size:2.5em, 2.5em;
  position:absolute;
  right:0;
  top: 0;
  outline: none;
}
#tocOpenState #theTocTarget{
  /* this controls the open state of the TOC menu button */
  background: url('../../theme/img/TOC-closeX.png') no-repeat;
  width: 80%;
  height: 2.75rem;
  background-size:2.75rem;
  background-position: 100% 0, top;
  right: .75em;
  top: .75em;
  position:absolute;
  outline: none;
}
#tocOpenState #theTocTarget:hover{
  cursor: pointer;
}
#tocClosedState #theTocTarget:hover{
  cursor: pointer;
}
#tocOpenState #theTocTarget::before{
  /* This renders the Table of Contents Menu Title as a CSS insertion */
  content:"Table of Contents";
  position:relative;
  left:0;
  top:2rem;
  color:$white;
  display:inline-block;
  font-size: 2em;
  @include font-familyHeading;
  @include lightWeight;
}
#tocClosedState .TOC{
  opacity: 0;

}
#tocOpenState .TOC{
  opacity: 1;

}
#tocOpenState .toc-link-header {
  text-decoration: none;
  @include font-familyHeading;
  color: $white;
  @include lightWeight;
  font-size: 1.25rem;
  line-height: 1.5;
}
#tocOpenState .toc-link-subheader{
  text-decoration: none;
  color: $white;
  
  @include font-familyRegular;
  @include regularWeight;
  font-size: .9375rem;
  line-height: 1.3;
}
.toc-link-header:hover,.toc-link-subheader:hover{
  color:$black!important;
  background-color: #FFFF00;

}






#tocOpenState #slide1TOC {
  margin-top: 2.8125em;
}

//end slide1TOC

//end toclink
.TOC{
  margin-top: 0;
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 35em) {/* 560 pixel width */

  #tocClosedState {
    /* default TOC style - button state - */
    right: 3em;
    /* This controls the opening timing height,width */



  }

  #tocOpenState{

    padding-top:4rem;
    padding-bottom: .75em;


    width:50%;
    height: 80vh;
  }
  #tocOpenState #theTocTarget{
    right:3em;
  }
  #tocOpenState #theTocTarget:before{
    border:0;
  }
  #tocOpenState .TOC{
    width:80%;

  }
}/* end 35em  */
@media only screen and (min-width: 68.1875em) {

  #tocOpenState{
    width:30%;

  }
}/* end 68.1875em */