/* 75/25 2 column split */
.cel-7525-a {
    float: left;
    width: 98%;
    padding: 0 1%;
    border: 1px solid $white;
}

.cel-7525-b {
    float: right;
    width: 98%;
    padding: 0 1%;
    border: 1px solid $white;
}

.cel-7525-a-rule {
    float: left;
    width: 98%;
    padding: 0 1%;
    border: 1px solid;
    border-color: $white $white $lightPrimaryColor $white;
}

.cel-7525-b-rule {
    float: right;
    width: 98%;
    padding: 0 1%;
    border: 1px solid;
    border-color: $lightPrimaryColor $white $white $white;
}

.cel-7525-a-box {
    float: left;
    width: 98%;
    padding: 0 1%;
    border: 1px solid $lightPrimaryColor;
}

.cel-7525-b-box {
    float: right;
    width: 98%;
    padding: 0 1%;
    border: 1px solid $lightPrimaryColor;
}

@media only screen and (min-width: 35em) { /* 560 pixel width */
    .cel-7525-a img:first-child,.cel-7525-a-rule img:first-child,.cel-7525-a-box img:first-child {
        margin-top: 1.4rem;
    }
    .cel-7525-b img:first-child,.cel-7525-b-rule img:first-child,.cel-7525-b-box img:first-child {
        margin-top: 1.4rem;
    }
    .cel-7525-a ul:first-child,.cel-7525-a-rule ul:first-child,.cel-7525-a-box ul:first-child {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .cel-7525-b ul:first-child,.cel-7525-b-rule ul:first-child,.cel-7525-b-box ul:first-child {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .cel-7525-a ol:first-child,.cel-7525-a-rule ol:first-child,.cel-7525-a-box ol:first-child {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .cel-7525-b ol:first-child,.cel-7525-b-rule ol:first-child,.cel-7525-b-box ol:first-child {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .cel-7525-a h2:first-child,.cel-7525-a-rule h2:first-child,.cel-7525-a-box h2:first-child {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .cel-7525-b h2:first-child,.cel-7525-b-rule h2:first-child,.cel-7525-b-box h2:first-child {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .cel-7525-a h3:first-child,.cel-7525-a-rule h3:first-child,.cel-7525-a-box h3:first-child {
        margin-top: .65rem;
        margin-bottom: 1.85rem;
    }
    .cel-7525-b h3:first-child,.cel-7525-b-rule h3:first-child,.cel-7525-b-box h3:first-child {
        margin-top: .65rem;
        margin-bottom: 1.85rem;
    }
    .cel-7525-a h4:first-child,.cel-7525-a-rule h4:first-child,.cel-7525-a-box h4:first-child {
        margin-top: .5rem;
        margin-bottom: 2rem;
    }
    .cel-7525-b h4:first-child,.cel-7525-b-rule h4:first-child,.cel-7525-b-box h4:first-child {
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

    .cel-7525-a h5:first-child,.cel-7525-a-rule h5:first-child,.cel-7525-a-box h5:first-child {
        margin-top: .4rem;
        margin-bottom: 2.1rem;
    }

    .cel-7525-b h5:first-child,.cel-7525-b-rule h5:first-child,.cel-7525-b-box h5:first-child {
        margin-top: .4rem;
        margin-bottom: 2.1rem;
    }

    /* 75/25 2 column split */

    .cel-7525-a {
        float: left;
        width: 73%;
        padding: 0 .5% 0 .5%;
        border: .0625em solid $white;
    }

    .cel-7525-b {
        float: right;
        width: 24%;
        padding: 0 .5% 0 .5%;
        border: .0625em solid $white;
    }

    .cel-7525-a-rule {
        float: left;
        width: 73%;
        padding: 0 .5% 0 .5%;
        border: .0625em solid;
        border-color: $white $lightPrimaryColor $white $white;
    }

    .cel-7525-b-rule {
        float: right;
        width: 24%;
        padding: 0 .5% 0 .5%;
        border: .0625em solid;
        border-color: $white $white $white $lightPrimaryColor;
    }

    .cel-7525-a-box {
        float: left;
        width: 73%;
        padding: 0 .5% 0 .5%;
        border: .0625em solid $lightPrimaryColor;
    }
    .cel-7525-b-box {
        float: right;
        width: 24%;
        padding: 0 .5% 0 .5%;
        border: .0625em solid $lightPrimaryColor;
    }

}

/* end media query*/