.is-invisible {
    /* as if it were never in the DOM  */
    display: none !important;
    visibility: hidden;
}



.is-dormant {
    /* hidden to the naked eye, but visible to screen readers.  */
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    border: 0;
}



.is-dormant.focusable:active,
.is-dormant.focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
.is-cleared:before,
.is-cleared:after {
    content: " ";
    display: table;
}

.is-cleared:after {
    clear: both;
}
.centeredLeftHeader{text-align: right;}
.centeredRightHeader{text-align: left;}