@mixin lightWeight() {
  font-weight: 300;
}
@mixin regularWeight() {
  font-weight: 400;
}
@mixin heavyWeight() {
  font-weight: 700;
}
@mixin material-shadow($exOffset, $whyOffset, $blur) {
  -moz-box-shadow: $exOffset $whyOffset $blur $shadowColor;
  -webkit-box-shadow: $exOffset $whyOffset $blur $shadowColor;
  box-shadow: $exOffset $whyOffset $blur $shadowColor;
}
@mixin font-familyRegular() {
  font-family: 'Quattrocento', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
@mixin font-familyHeading() {
  font-family: 'Oswald',Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}
@mixin breathingEffect(){
  -webkit-animation-name: breathingHover;
  animation-name: breathingHover;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* importing chunks*/

/* column layout styles */
@import "chunk-col-100";
@import 'chunk-col-50';
@import 'chunk-col-6040';
@import 'chunk-col-4060';
@import 'chunk-col-7525';
@import 'chunk-col-2575';
@import 'chunk-col-30';
@import 'chunk-col-25';
@import "chunk-cards";
@import 'chunk-col-layoutHelpers';
@import "widget-accordion";
@import "widget-clickReveal";
@import "widget-fillInTheBlank";
@import "widget-multiChoice";
@import "widget-tabular";
@import "chunk-TOC";


/* generic element styles html body p ul */
@import 'baseClasses';

@import "typography";
@import "m-institutional-logo";

/* styles that hide things + clearing styles*/
@import 'helperClasses';

/* created a golden ration sized centered column that look and acts like a traditional book */
@import 'bookBox';

/* style for the figure image elements */
@import "m-figure";

/* styles for the dropcaps */
@import "m-dropCaps";
.cel-link-icon:after{
  content: "\21D7";

}

.courseIcon {
  fill: $white;
  height: 45px;
  width: 45px;
  float:left;
  padding: 0.5rem 0 0 .5rem;

}
#courseNumber {
  float: left;
  width: 98%;
  color: $white;
  margin: 0;
  padding: .75rem 0 0 .5rem;
  @include lightWeight;
}

#moduleNumber {
  float: left;
  width: 94%;
  color: $white;
  margin: 0 0 .8rem 1rem;
  @include lightWeight;
}

.module {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.moduleHeaders {
  width: 100%;

  background-color: $primaryColor;
  border-bottom: .0625em solid $darkPrimaryColor;
  margin-bottom: .5rem;
  @include material-shadow(0,.125em,.0625em);

}



#theModuleHeader {
  position: relative;
  transition-property: all;
  transition-timing-function:ease-in-out;
  transition-duration: .25s;
}

.audioBox {
  width: 95%;
  position: fixed;
  bottom: 6.25em;
  margin-top: -28px;
}

.audioControls {
  width: 60%;
  margin: auto;
}

.audioButton {
  position: fixed;
  bottom: 2.9375em;
  left: 45%;
  height: 2.75em;
  width: 2.75em;
  background: url("../theme/img/audioButton.png") no-repeat;
  background-color: $accentColor;
  background-size: cover;
  border-radius: 50%;
  @include material-shadow(0,
          .25em,
          .25em);
  -o-transition: width .5s ease-in-out, height .25s ease-in-out;
  -webkit-transition: width .5s ease-in-out, height .25s ease-in-out;
  -moz-transition: width .5s ease-in-out, height .25s ease-in-out;
  transition: width .5s ease-in-out, height .25s ease-in-out;
}

#celLogo {
  float: left;
  -o-transition: width .5s, height .5s;
  -webkit-transition: width .5s, height .5s;
  -moz-transition: width .5s, height .5s;
  transition: width .5s, height .5s;
  height: 2.8125em;
  width: 2.6em;
  margin: .375em;
}

.helpBox {
  background: url("../img/HELP-default.png") no-repeat;
  background-position: center;
  background-size: 2.6rem;
  background-origin: content-box;
  border-radius: .1875em;
  color: $white;
  position:absolute;
  right:0;
  top:0;
  margin-right: .25em;
  text-align: left;
  overflow:hidden;


  /* the timing for this is in the IDs that get swapped */
  transition-property: height, width;
  transition-timing-function: ease-in-out;

}



#helpboxClosedState {
  width : 2.75em;
  height : 2.75em;
  background-color: $primaryColor;
  z-index: 2;
  padding-bottom: .3rem;
  padding-top: .25em;
  background-image : url(../img/HELP-default.png);
  background-position : 100% 0 ;
  background-size : 2.5rem;

  /* timing of height then width NOTE: this effects the closing animation */
  transition-duration: .1s, .25s, .5s;

}

#helpboxOpenState {
  // This is the help box that is sitting open.


  background-color: $darkPrimaryColor;
  @include material-shadow(.15em, .15em, .15em);
  z-index: 200;
  padding-bottom: 1rem;


  width : 90vw;

  background-image : url(../img/HELP-closeX.png);
  background-position : 100% 0,top;
  background-size : 2.5rem;

  /* timing of height then width NOTE: this effects the opening animation*/
  transition-duration: .25s, .1s,.5s;
}

#helpButton {
  width: 100%;
  height: 2.45em;
  color: $white;
  font-weight: 700;
  padding: .7em 0 0 .9em;
  text-align: left;
  float: right;
}
#helpButton:hover{
  cursor: pointer;
}
#helpboxClosedState .helpContent{
  opacity: 0;
}
#helpboxOpenState .helpContent{
  opacity: 1;
}
.helpContent {
  width: 90%;
  margin-left:5%;
  text-align: center;
  @include lightWeight;
  @include font-familyRegular;




}
.helpContent p{
  width:90%;
  margin: 0 auto;
  color:$white;
}
.helpContent p a{

  color:$white;
}

.helpContent h3{
  font-weight: 300;
  margin-bottom:1em;
  margin-top: 1em;
  color:$white;
}

.slide {
  width: 100%;



}

.activeSlide {
  opacity:1;
  float: left;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: .625em;
  background-color: $white;
  border-radius: .1875em;
  @include material-shadow(0,.125em,.125em);


}

.slideHeader {
  /* This is the active slide style. */
  width: 95%;
  position: relative;

  text-decoration: none;
} //end slideheader
a.slideHeader:hover{

  cursor:auto!important;
}
.slideHeader  {
  //this controls the default space between main headers.
  width: 100%;
  color: $darkPrimaryColor;
  text-align: left;
  //padding: .625em 0;
  //margin: 1em 0;
  border-radius: .1875em;

  @include lightWeight;

} //end h2
.slideHeader .slideNumber {
  float: left;
  width: 17%;
  text-align: right;
  padding-right: 3%;
  @include lightWeight;
} //end slidenumber
.slideHeader .slideTitle {
  float: right;
  width: 75%;
  text-align: left;
  padding-left: 3%;
  padding-right: 1%;
  word-wrap: break-word;
  border-left: 1px solid $black;
  @include lightWeight;
}


/* end .slideHeader h2 .slideTitle */

.futureSlideHeader {
  /* this is a slide that shows in the mobile stack, but has not been clicked on yet. */
  width: 98%;
  text-decoration: none;
  border-radius: 50%;
}

.futureSlideHeader  {
  font-size: 2.25em;
  width: 95%;
  color: $darkPrimaryColor;
  text-align: center;
  padding: .625em 0;
  margin: .1875em auto;
  border-radius: .1875em;
  background-color: $white;

  @include lightWeight;
} //end h2
.futureSlideHeader .slideNumber {
  float: left;
  width: 17%;
  text-align: right;
  padding-right: 3%;
  @include lightWeight;
} //end slidenumber
.futureSlideHeader .slideTitle {
  float: right;
  width: 75%;
  text-align: left;
  padding-left: 3%;
  padding-right: 1%;
  word-wrap: break-word;
  border-left: 1px solid $black;
  @include lightWeight;
}

.futureSlideHeader:hover {
  color: $white;
  background-color: $accentColor
} //end h2 hover
//end slideheader
.pastSlideHeader {
  /* this is a slide that has been clicked on already and shows as being in the past in the mobile slide stack*/
  width: 90%;
  text-decoration: none;
}

.pastSlideHeader {
  font-size: 2.25em;
  padding: 5px 10px;
  margin: 1px auto;
  text-align: center;
  background-color: $darkPrimaryColor;
  @include lightWeight;
} //end h2
.pastSlideHeader:hover {
  color: $white;
  background-color: $accentColor;
} //end pastSlideheader hover
.pastSlideHeader .slideNumber {
  float: left;
  width: 20%;
  text-align: right;
  color: $white;
  @include lightWeight;
} //end slidenumber
.pastSlideHeader  .slideTitle {
  float: right;
  width: 75%;
  text-align: left;
  padding-left: 3%;
  padding-right: 1%;
  word-wrap: break-word;
  border-left: 1px solid $lightPrimaryColor;
  color: $white;
  @include lightWeight;
}

.activeSlide .pastSlideHeader {
  /* This is a slide that has been has been viewed once, and gone back to. I wanted this style to match the default style*/
  width: 98%;
  position: relative;
  text-decoration: none;
}

.activeSlide .pastSlideHeader {
  //this controls the default space between main headers.
  width: 95%;
  color: $accentColor;
  text-align: left;
  padding: 10px 2.5%;
  margin: 3px auto;
  border-radius: 3px;
  position: relative;
  background-color: $white;
  @include lightWeight;
} //end h2
.activeSlide .pastSlideHeader .slideNumber {
  float: left;
  width: 17%;
  text-align: right;
  padding-right: 3%;
  color: $darkPrimaryColor;
  @include lightWeight;
} //end slidenumber
.activeSlide .pastSlideHeader .slideTitle {
  float: right;
  width: 75%;
  text-align: left;
  padding-left: 3%;
  padding-right: 1%;
  word-wrap: break-word;
  border-left: 1px solid $primaryColor;
  box-shadow: none;
  border-bottom: none;
  color: $darkPrimaryColor;
  @include lightWeight;
}

.activeSlide .pastSlideHeader:hover {
  color: $accentColor;
}

.slideContent {
  padding-left: 1%;
}

.slide .slideContent {
  //default mobile slide state...hidden
  display: none !important;
  visibility: hidden;
}

.slide .slideFooter {
  //default mobile slide state...hidden
  display: none !important;
  visibility: hidden;
}

.activeSlide .activeSlideFooter {
  //default mobile active slide state...visible
  border: 0;
  clip: inherit;
  height: auto;
  margin: 0 1em 0 0;
  //overflow: auto;
  padding: 0;
  position: inherit;
  width: 100%;
  z-index: 102;

}

.activeSlide .activeSlideContent {
  //default mobile active slide state...visible
  border: 0;
  clip: inherit;
  height: auto;
  margin: auto;
  overflow: auto;
  padding: 2%;
  position: inherit;
  width: 90%;
}
@keyframes yellowFlash{
  0% {
    background-color:yellow;
  }

  100%{
    background-color:$white;
  }
}
.activeSlide .TheFirst{
  -webkit-animation-name: yellowFlash;
  animation-name: yellowFlash;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
#mainNavList {
  //default mobile Nav state...invisible
  display: none;
  visibility: hidden;
}
button{border:0;}
.nextButton {
  position: fixed;
  bottom: 44px;
  right: 22px;
  border-radius: 50%;
  margin-right: 1%;
  margin-bottom: 1%;
  color: $white;
  font-size: 2.25em;
  background-color: $accentColor;
  @include font-familyRegular;
  @include material-shadow(0,
          4px,
          4px);
  width: 2.75rem;
  height: 2.75rem;
  padding:0;
  text-decoration:none;
  text-align:center;
  line-height:2.5rem;
}

.prevButton {
  position: fixed;
  bottom: 44px;
  left: 22px;
  border-radius: 50%;
  margin-left: 1%;
  margin-bottom: 1%;
  color: $white;
  @include font-familyRegular;
  font-size: 2.25em;
  background-color: $accentColor;
  @include material-shadow(0,
          4px,
          4px);
  width: 2.75rem;
  height: 2.75rem;
  padding:0;
  text-decoration:none;
  text-align:center;
  line-height:2.5rem;
}

.nextButton:hover {
  background-color: $darkPrimaryColor;
  transition: background-color .25s ease-in-out;
  cursor: pointer;

}

.prevButton:hover {
  background-color: $darkPrimaryColor;
  transition: background-color .25s ease-in-out;
  cursor: pointer;
}

.slideFooter {
  width: 100%;
  margin-bottom: 2.25em;
}

.activeSlideFooter {
  width: 100%;
  margin-bottom: 2.25em;
}

.navContainer {
  //default mobile slide state...hidden
  display: none !important;
  visibility: hidden;
}

.mainFooter {
  width: 100%;
  float: left;
}


.fullScreenButton{
  width:30px!important;
  height:30px!important;
  position:absolute;
  top:10px;
  left:10px;
  z-index:101;
  margin-top: 0!important;



}

.fullScreenButton:hover{
  @include breathingEffect;
}
.cel-copyrightInfo{font-size: .7em;text-align: center;width: 100%;margin: 1em 0;}


//========================================================================(mobile ^) Media Queries (desktop v) =====================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================

@media only screen and (min-width: 35em) {/* 560 pixel width */


  .activeSlide {
    //This makes sure that the header buttons works.
    margin-top: 3.125em;
    min-height: 100%;
    float: none;
    opacity:1;
    transition-property:opacity;
    transition-duration:.25s;
    transition-timing-function:ease-in;
  }
  .slide{opacity:0;}

  .activeSlide .activeSlideContent {
    padding: 1rem;
  }

  .activeSlide .activeSlideFooter {
    margin: 0 1em 0 0;
    padding: 0;
    position: fixed;
    width: 12.5em;
    height: 3.125em;
    bottom: 0;
    right: 0;
    z-index: 102;
  }

  .slide .slideFooter {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 12.5em;
    height: 3.125em;
    bottom: 0;
    right: 0;
  }

  .audioBox {
    position: static;
    width: 9.375em;
  }

  .audioButton {
    position: absolute;
    left: 40.5%;
    top: 0;
  }

  .nextButton {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    margin: 0;
    text-decoration: none;
    text-align:center;
    line-height:2.5rem;
  }

  .prevButton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    margin: 0;
    text-decoration: none;
    text-align:center;
    line-height:2.5rem;
  }
  .courseIcon {
    fill: $white;
    height: 90px;
    width: 90px;
    float:left;
    padding: 1.25em 0 0 .5rem;

  }
  #courseNumber {
    position:relative;
    margin-top: 1rem;
    width:60vw;

    font-size: 3em;
    font-weight: 300;
    border: 0;
    padding: 0 0 0 .75rem;
    opacity:1;


    transition-property:opacity,height;
    transition-duration: 1s,3s;
    transition-timing-function:ease-in-out;
  }

  #moduleNumber {

    margin-bottom: 1rem;
    position:relative;
    width:60vw;
    opacity:1;


    transition-property:opacity;
    transition-duration: 1s;
    transition-timing-function:ease-in-out;

  }


  .slideHeader {
    width: 98%;
    text-decoration: none;
  } //end slideheader
  .slideHeader {
    //this controls the default space between main headers.
    width: 100%;
    color: $darkPrimaryColor;
    text-align: left;
    padding: 3rem 0;
    margin: .1875em 0;
    float: left;
    @include regularWeight;
    border-radius: .1875em;
  } //end h2
  .futureSlideHeader {
    width: 98%;
    text-decoration: none;
  } //end slideheader
  .futureSlideHeader {
    //this controls the default space between main headers.
    width: 100%;
    color: $darkPrimaryColor;
    text-align: left;
    padding: .625em 0;
    margin: .1875em auto;
    border-bottom: .0625em solid $darkPrimaryColor;
    border-radius: .1875em;
  } //end h2


  //end pastSlideheader
  .activeSlide .pastSlideHeader {
    //this controls the default space between main headers.
    background-color: transparent;
    width: 100%;
    color: $darkPrimaryColor;
    text-align: left;
    padding: 3rem 0;
    margin: .1875em 0;
    float: left;
    @include lightWeight;
    font-size: 3.157rem;
    border-radius: .1875em;
  } //end h2
  .activeAudioBox {
    width: 100%;
  }


  /* for now...all the non-mobile styles */

  .slide {
    //default desktop slide state...hidden
    display: none !important;
    visibility: hidden;
  }

  .slide .slideContent {
    //default desktop slideContent state...visible yet hidden if slide is hidden
    border: 0;
    clip: auto;
    height: auto;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: inherit;
    width: 100%;
  }

  .slide .slideFooter {
    //default desktop slideContent state...visible yet hidden if slide is hidden
    border: 0;
    clip: auto;
    height: auto;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: inherit;
    width: 100%;

  }

  .mainFooter {
    height: 4.6875em;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: red; */
  }

  #mainNav {
    //the container
    height: 5vh;
    width: 90vw;
    margin: 0 auto;
    overflow: visible;
  }

  #mainNavList {
    //the list
    position: relative;
    list-style: none;
    margin: 0 auto;
    width: 100%;
    height: 4.375em;
    overflow: visible;
    display: block;
    visibility: visible;
    padding: 0;
  }


  /* The hover effect for the nav elements. */
  @-webkit-keyframes breathingHover {
    to {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
    }
  }

  @keyframes breathingHover {
    to {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
    }
  }


  .navElement {
    background: url(../img/nav-sprites.png) 50% 0 no-repeat;
    display: inline-block;
    width: 45px;
    height: 35px;
    text-align: center;
    padding-top: .75em;


    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -moz-osx-font-smoothing: grayscale;

  }

  .activeNavElement {

    background: url(../img/nav-sprites.png) 50% -41px no-repeat;
    display: inline-block;
    width: 45px;
    height: 35px;
    text-align: center;
    padding-top: .75em!important;


    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -moz-osx-font-smoothing: grayscale;

  }

  .pastNavElement {
    background: url(../img/nav-sprites.png) 50% -135px no-repeat;
    display: inline-block;
    width: 45px;
    height: 35px;
    text-align: center;
    padding-top: .75em!important;
    color:#FFF;


    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -moz-osx-font-smoothing: grayscale;
  }

  .navElement:hover,
  .activeNavElement:hover,
  .pastNavElement:hover,
  .navElement:focus,
  .activeNavElement:focus,
  .pastNavElement:focus,
  .navElement:active,
  .activeNavElement:active,
  .pastNavElement:active
  {
    background: url(../img/nav-sprites.png) 50% -88px no-repeat;
    display: inline-block;
    width: 45px;
    height: 35px;
    color: #FFF;

    -webkit-animation-name: breathingHover;
    animation-name: breathingHover;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    cursor: pointer;
  }
  #helpboxOpenState{
    width:40vw;
  }
  #helpButton {
    padding: .7em .9em 0 0;
    text-align: right;
    float: right;
  }

  #celLogo {
    float: left;
    margin: 0 0 0 2.25%;
    padding: 0;
  }



  #backToTopLink{
    position: fixed;
    bottom: .3em;
    left: .5em;
    color: $darkPrimaryColor;


  }

} /* end 35em media query */





@media only screen and (min-width: 68.1875em) {

  .activeSlide {
    margin-bottom: .625em;
    margin-right: auto!important;
    margin-left: auto!important;
    display: block;
    width: 64rem;
    float: none;

  }

  #mainNav {
    //since this is supposed to follow the bottom of the content area I made it the same width.
    height: 5vh;
    width: 64rem;
  }


  #helpboxOpenState{width:35vw;}



}//end 1091px media query
@media only screen and (min-width: 92.625em) {/* 1482 pixels width */

  #helpboxOpenState{width:25vw;}
}




