.cel-multi{
  border-top: 1px solid $shadowColor;
  padding:1rem;
}
.cel-multi>p{font-size: 1.25rem;}
.multi-answer p:hover{
  background-color: #ededed;
  cursor: pointer;
}
.multi-answer p{
  width: 100%;
  border:1px solid #ededed;
  margin-bottom: .75rem;
}
.feedback-multi{
  width:100%;
  padding: 0;
  margin: 0 0 .5rem 0;
  background-color: $white;

}
.feedback-is-closed{
  height:0;
  overflow: hidden;
}
.feedback-is-open{
  overflow: visible;


}
.multi-answer{font-size: 1em;width: 100%;}
.multi-answer-is-correct{border: 1px solid lightgreen;}
.multi-answer-is-correct>p{
  font-style: italic;
  background-color: lightgreen;
}