---
---

$primaryColor:       #3B3F40;
$accentColor:        #736C4D;
$darkPrimaryColor:   #232626;
$lightPrimaryColor:  #A2B0B0;
$black:              #151717;
$white:              #F2FDF5;
$shadowColor:        #727272;

@import "main";
