---
---

$primaryColor:       #8C6354;
$accentColor:        #BFB493;
$darkPrimaryColor:   #543C32;
$lightPrimaryColor:  #F0B890;
$black:              #232626;
$white:              #F2F2F2;
$shadowColor:        #727272;

@import "main";
