---
---
$primaryColor:       #523126;
$accentColor:        #B3B499;
$darkPrimaryColor:   #261712;
$lightPrimaryColor:  #D69465;
$black:              #140C05;
$white:              #EEFFFF;
$shadowColor:        #727272;

@import "main";
