---
---

$primaryColor:       #DBB54F;
$accentColor:        #428280;
$darkPrimaryColor:   #78693E;
$lightPrimaryColor:  #E8DCBC;
$black:              #1C190D;
$white:              #FFFFE8;
$shadowColor:        #727272;

@import "main";
