---
---

$primaryColor:       #333745;
$accentColor:        #F6F792;
$darkPrimaryColor:   #1E2129;
$lightPrimaryColor:  #BFF0EE;
$black:              #121717;
$white:              #EFFFF3;
$shadowColor:        #727272;

@import "main";
