---
---

$primaryColor:       #703030;
$accentColor:        #7E827A;
$darkPrimaryColor:   #291212;
$lightPrimaryColor:  #FF9A6E;
$black:              #121417;
$white:              #FAF9FF;
$shadowColor:        #727272;

@import "main";
