---
---

$primaryColor:       #615666;
$accentColor:        #CBB852;
$darkPrimaryColor:   #29252B;
$lightPrimaryColor:  #E6CCF2;
$black:              #020203;
$white:              #F2FDFF;
$shadowColor:        #727272;

@import "main";
