---
---

$primaryColor:       #8E61CE;
$accentColor:        #72a84f;
$darkPrimaryColor:   #3C1777;
$lightPrimaryColor:  #F4F4F4;
$black:              #000000;
$white:              #ffffff;
$shadowColor:        #8C8C8C;

@import "main";
