---
---

$primaryColor:       #06394A;
$accentColor:        #F8DC9B;
$darkPrimaryColor:   #042733;
$lightPrimaryColor:  #77D1DD;
$black:              #0B1314;
$white:              #E7F9F7;
$shadowColor:        #727272;

@import "main";
