---
---

$primaryColor:       #515D73;
$accentColor:        #BFB4AA;
$darkPrimaryColor:   #192330;
$lightPrimaryColor:  #7ED4F5;
$black:              #1C1C1C;
$white:              #F2F2F2;
$shadowColor:        #727272;

@import "main";
