---
---

$primaryColor:       #412A22;
$accentColor:        #F2E6B6;
$darkPrimaryColor:   #33211B;
$lightPrimaryColor:  #CD856B;
$black:              #0F0A08;
$white:              #FFF0F5;
$shadowColor:        #727272;

@import "main";
