<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.program | upcase }}{{ page.course }} Learning Unit {{ page.unit }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.infectionVersion }}">
    <meta name="author" content="Ian Vanhoof (ian@fscj.edu)">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="../../../theme/cew/conted.css">

    {{ site.googlefontLink }}
</head>

<body>
<a id="skipToContentLink" href="#slide1" class="is-dormant" tabindex="0" >Use this link to skip to the main content area</a>
<a id="skipToIndexLink" href="#tocClosedState" class="is-dormant" tabindex="0">Use this link access the table of contents.</a>
    <article class="module">
        <header id="theModuleHeader" class="moduleHeaders is-cleared">
          <div id="fscjLogo"></div>
            <img id="theCourseIcon" class="courseIcon" src="../../../theme/course-icons/{{page.program}}-icon.png" onerror='src="../../../theme/course-icons/cel-icon.png"'>

          <!-- end fscj logo -->
          <!-- both of these are hidden past slide one.  -->
          <h1 id="courseNumber">{{ page.program | upcase }}{{ page.course }}</h1>
            <h2 id="moduleNumber">Learning Unit {{ page.unit }}</h2>

          <ol id="tocClosedState" class="TOCs" tabindex="-1">
              <li></li>
          </ol>
          <!-- end TOC list -->
          <section class="helpBox" id="helpboxClosedState">
              <div id="helpButton"></div>
              <!-- help button -->
              <div class="helpContent">
                  <h3>Navigation</h3>

                  <p>Use the circles below to navigate between slides.</p>
                  <p>•</p>
                  <p>Press the N or P keys on your keyboard to access the Next and Previous Slides.</p>

                  <h3>Audio Player</h3>

                  <p>If there is audio associated with a slide, you will see an audio controller appear.</p>
                  <p>•</p>
                  <p>If the audio controls are present press the play button to start the audio, and the pause button to stop it.</p>
                  <p>•</p>
                  <p>If you exit a slide before the audio is complete do not worry. The audio will stop playing, and will be ready for you the next time you access the slide.</p>
                  <p>•</p>
                  <p>If you have audio issues, download / use <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"  tabindex="-1"> Google Chrome</a> or <a href="http://support.apple.com/downloads/#safari" target="_blank"  tabindex="-1"> Safari</a>.</p>
              </div><!-- end help div -->
          </section><!-- end help box -->
      </header>

  		{{ page.content }}

        <footer class="mainFooter">
            <nav id="mainNav" >
                <ul id="mainNavList" tabindex="-1">
                    <li></li>
                </ul>
            </nav>
        </footer><!-- article footer -->
        </article>
	<p><a href="#theModuleHeader">Back to Top</a></p>
    <script src="custom.js"></script>
<script src="../../../js/main.js"></script>
</body>
</html>
