---
---

$primaryColor:       #5E9CA0;
$accentColor:        #ECDD7F;
$darkPrimaryColor:   #295153;
$lightPrimaryColor:  #C9F7FF;
$black:              #141919;
$white:              #E9F7FF;
$shadowColor:        #727272;

@import "main";
